<% if !user_signed_in? %>
<body>
<div class="container" style="z-index:-1; top: 100px;">
  <div class="row">
    <div class="col" style="height: 200px; background-color: grey; min-width: 500px; width: 100%;">
            Live Random Popping Broadcast
    </div>
  </div>
      <div class="row">
        <h1> Welcome to Vibin </h1>
          <p class="text">
            Listen to the Music your Friends are Listening to. <br>
            Find New Music Now!
          </p>

    </div>
      <div class="row">
          <div class="col-sm-12" style="left: 0; bottom: 0; width: 100%; text-align: center;">
            <p class="footer"> About Help Blog Terms Privacy © 2018 Vibin
            </p>
          </div>
   </div>
</div>
</body>

<% end %>
