<h1>Audio#stream</h1>
<p>Find me in app/views/audio/stream.html.erb</p>
<div class="container" style="top:100px; background-color: grey;">
  <div class='fixed-top'>
    <div class="background_music">
      <%= image_tag("Example.jpeg", alt: "Background",class:"background") %>
      <div class="face_music_locale">
        <%= image_tag("TSExampleFace.jpg", alt: "face", class: "face_music") %>
      </div>
    </div>

  </div>
</div>