<nav>
  <ul>
    <li ><a href="/home">Home</a></li>
    <li ><a href="/explore">Discover</a></li>



           </li>
           <li style="float: right; margin-top: -10px;">
               <div class="search-container">
                 <form action="form-inline">
                     <input type="search" placeholder="Search" aria-label="Search">
                       <button class="btn" type="submit">GO </button>

                 </form>
              </div>
           </li>
    </ul>

</nav>
