

<nav class="navbar navbar-expand navbar-dark bg-success" style="position: fixed; min-width: 100%; width: 800px; z-index:999;">
    <a class="navbar-brand" href="/">Vibin Music</a>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav pt-1">
            <li class="nav-item">
                <a class="nav-link" href="/explore">Explore</a>
            </li>
            <li><a class="nav-link" href="/users/sign_up"> Sign up </a></li>
            <li><a class="nav-link" href="/users/sign_in">Log in</a></li>


        </ul>
    </div>
</nav>
